#banner {
  background: #9c9;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;
}

#columns {
  background: #141;
}

#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 6em;
  background: #141;
}

#main {
  margin-left: 7em;
  padding-top: 4ex;
  padding-left: 2em;
  background: white;
}

#notice {
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

.editor_field {
  background: #ffffff;
  border: 1px solid #0000ff;
  font-size: 1em;

}