<%= render(:partial => 'team_header', :locals => { :team => @team }) -%>
    <br />
    <canvas id="efficiency"></canvas>
    <%= team_stats_graph(@team, 'Efficiency', :ppp, 'efficiency') %>
    <table class="ranktable">
    <%= stat_header %>
    <tr>
      <td>Stats</td>
    <% TeamAverage.stat_columns.each do |col| -%> 
      <td style="text-align: right;"><%= stat_format(@team.stats.send(col), col) %></td>
    <% end -%> 
    </tr>
    <tr>
      <td>Opp. Stats</td>
    <% TeamAverage.stat_columns.each do |col| -%> 
      <td style="text-align: right;"><%= stat_format(@team.opp_stats.send(col), col) %></td>
    <% end -%> 
    </tr>
    <tr >
      <td style='border-top: solid 1px black; border-bottom: solid 1px black;'>Difference</td>
    <% TeamAverage.stat_columns.each do |col| -%> 
      <td style='text-align: right; border-top: solid 1px black; border-bottom: solid 1px black;<%= "color: red;" if (@team.stats.send(col) - @team.opp_stats.send(col) < 0) %> '>
	<%= stat_format(@team.stats.send(col) - @team.opp_stats.send(col) , col) %>
      </td>
    <% end -%> 
    </tr>
    <tr>
      <td>Rank</td>
    <% TeamAverage.stat_columns.each do |col| -%> 
      <td style="text-align: right;"><%= @rank.send(col) %></td>
    <% end -%> 
    </tr>
    <tr>
      <td>Opp. Rank</td>
    <% TeamAverage.stat_columns.each do |col| -%> 
      <td style="text-align: right;"><%= @opp_rank.send(col) %></td>
    <% end -%> 
    </tr>
    <tr>
      <td>Diff Rank</td>
    <% TeamAverage.stat_columns.each do |col| -%> 
      <td style="text-align: right;"><%= @diff_rank.send(col) %></td>
    <% end -%> 
    </tr>
    </table>
    <div id="roster">
      <table cellspacing="0" class="sortable" id="player_unique_id">
	<tr style="color: white;">
	  <th width="4%">No</th>
	  <th width="4%">Pos</th>
	  <th width="20%" style="border-right: solid 2px black;">Name</th>
	  <th width="3%">GP</th>
	  <th width="3%">PPG</th>
	  <th width="3%">fga</th>
	  <th width="5%">fg%</th>
	  <th width="3%">fta</th>
	  <th width="5%">ft%</th>
	  <th width="3%">tpa</th>
	  <th width="5%" style="border-right: solid 1px black;">tp%</th>
	  <th width="3%">offrb</th>
	  <th width="3%">totrb</th>
	  <th width="3%">ast</th>
	  <th width="3%">tov</th>
	  <th width="3%">stl</th>
	  <th width="3%">blk</th>
	  <th width="3%">foul</th>
	</tr>
	<% @team.players.each do | player | %>
	<tr >
	  <td width="5%"><%= player.number -%></td>
	  <td width="5%"><%= player.position -%></td>
	  <td width="15%" style="border-right: solid 2px black;"><%= player.last_name -%>, <%= player.first_name -%></td>
	  <td width="5%"><%= player.player_average.games_played -%></td>
	  <td width="5%"><%= stat_format(player.player_average.total_point, "total_point") -%></td>
	  <td width="5%"><%= number_with_precision(player.player_average.fga * player.player_average.games_played, 0) -%></td>
	  <td width="8%"><%= stat_format(player.player_average.fgp, "fgp") -%></td>
	  <td width="5%"><%= number_with_precision(player.player_average.fta * player.player_average.games_played, 0) -%></td>
	  <td width="8%"><%= stat_format(player.player_average.ftp, "ftp") -%></td>
	  <td width="5%"><%= number_with_precision(player.player_average.tpa * player.player_average.games_played, 0) -%></td>
	  <td width="8%" style="border-right: solid 1px black;"><%= stat_format(player.player_average.tpp, "tpp") -%></td>
	  <td width="5%"><%= stat_format(player.player_average.offense_rebound, "offense_rebound") -%></td>
	  <td width="5%"><%= stat_format(player.player_average.total_rebound, "total_rebound") -%></td>
	  <td width="5%"><%= stat_format(player.player_average.assist, "assist") -%></td>
	  <td width="5%"><%= stat_format(player.player_average.turnover, "turnover") -%></td>
	  <td width="5%"><%= stat_format(player.player_average.steal, "steal") -%></td>
	  <td width="5%"><%= stat_format(player.player_average.block, "block") -%></td>
	  <td width="5%"><%= stat_format(player.player_average.foul, "foul") -%></td>
	</tr
	<%- end -%>
      </table>
      <%= link_to "[Edit]", { :controller => "player", 
                              :action => "list",
                              :id => @team } -%>
    </div>

    <h3>Schedule</h3>
    <div>[<a href="http://sports.espn.go.com/ncb/teamsched?teamId=<%= @team.espn_code%>">ESPN</a>]</div>
    <div><%= link_to "[Breakdown]", { :action => "breakdown", :id => @team }%></div>
    <div>
      <table class="gameList sortable" id="game_unique_id" width="90%">
      <tr> 
        <th>Date</th> 
	<th>Game</th> 
	<th>Score</th> 
	<th>W/L</th> 
	<th>Record</th> 
	<th>Conf.</th> 
	<th>64</th> 
	<th>home</th> 
	<th>away</th> 
      </tr>
      <% wins = losses = conf_wins = conf_losses = wins_64 = loss_64 = home_wins = home_losses = away_wins = away_losses = 0 -%>
      <% for game in @games -%>
        <% conference = (game.away_team.conference.id == game.home_team.conference.id) -%>
	<% opponent = (game.home_team.id == @team.id ? game.away_team : game.home_team) %>
	<tr class="game<%= conference ? '' : 'non' -%>conference"> 
	  <td> <%= date_link(game.played_on) -%> </td>
	  <td> <%= team_link(game.away_team) -%> @ <%= team_link(game.home_team) -%></td>
	  <% 
	    tg = TeamGame.find_all_by_game_id_and_type(game.id, 'MasterTeamGame')
            if tg[0].team_id == game.away_team.id
	      away = tg[0]
	      home = tg[1]
	    else
	      away = tg[1] 
	      home = tg[0]
	    end
	  %> 
	  <td>
	 <%= game_link(away.total_point.to_s + '-' + home.total_point.to_s, game) -%></td>
	  <td> <%= (win = game.win?(@team)) ? 'W' : 'L' -%></td>
	  <% win ? (wins += 1) : (losses += 1) -%>
	  <% win ? (wins_64 += 1) : (loss_64 += 1) if opponent.in_64 -%>
	  <% win ? (conf_wins += 1) : (conf_losses += 1) if conference -%>
          <% win ? (game.away?(@team) ? (away_wins += 1) : (home_wins += 1) ) : 
                   (game.away?(@team) ? (away_losses +=1): (home_losses += 1)) -%>
	  <td> <%= wins -%>-<%= losses -%></td>
	  <td> <%= conf_wins -%>-<%= conf_losses -%></td>
	  <td> <%= wins_64 -%>-<%= loss_64 -%></td>
          <td><%= home_wins -%>-<%= home_losses -%></td>
          <td><%= away_wins -%>-<%= away_losses -%></td>
	</tr>
      <% end -%>
      </table>
    </div>
    <br />

    <div id="add">
        <%= render :partial => 'form', :locals => { :team => @team.id } %>
    </div>
