<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>WereFrog College Basketball</title>
    <%= stylesheet_link_tag "ncaa", :media => "all" %>
    <%= stylesheet_link_tag "calendar-system.css" %>
    <%= javascript_include_tag "prototype" %>
    <%= javascript_include_tag "sorttable" %>
    <%= javascript_include_tag "effects" %>
    <%= javascript_include_tag "controls" %>
    <%= javascript_include_tag 'calendar', 'calendar-en', 'calendar-setup' %>

    <script type="text/javascript"><%= @content_for_player_edit_scripts %></script>
    <script type="text/javascript">
      function dateChanged(calendar) {
        // Beware that this function is called even if the end-user only
        // changed the month/year. In order to determine if a date was
        // clicked you can use the dateClicked property of the calendar:
        if (calendar.dateClicked) {
          // OK, a date was clicked, redirect to /yyyy/mm/dd/index.php
          var y = calendar.date.getFullYear();
          var m = calendar.date.getMonth();     // integer, 0..11
          var d = calendar.date.getDate();      // integer, 1..31
          // redirect...
          window.location = "/" + y + "/" + m + "/" + d + "/index.php";
        }
      };
    </script>
  </head>
    <body bgcolor="<%= session[:authorized] ? 'e8ffdc' : '#f8f8f8' %>">
      <div id="banner">
      </div>
      <div id="side">
        <ul class="menu">
          <li> <%= link_to 'Tourney Teams', { :controller => 'team', :action => 'tourney' } %> </li>
          <li> <%= link_to 'All Teams', { :controller => 'team', :action => 'list' } %> </li>
          <li> <%= link_to 'Team Stats', { :controller => 'team_stats', :action => 'list' } %> </li>
          <li> <%= link_to 'Team Foe Stats', { :controller => 'team_stats', :action => 'list', :foe => 1 } %> </li>
          <li> <%= link_to 'Team Diff Stats', { :controller => 'team_stats', :action => 'list', :foe => 'diff' } %> </li>
          <li> <%= link_to 'Team Comparison', { :controller => 'team_stats', :action => 'compare' } %> </li>
          <li> <a href="http://hoopsmap.rickbradley.com/venue/show">The Map</a> </li>
      <% if session[:authorized] -%>
          <li> <%= link_to 'Logout', { :controller => 'team_stats', :action => 'login', :key => 'logout' } %> </li>
      <% end -%>
    </ul>

        <h4>brackets</h4>
        <ul>
      <li> CBS Bracket <a href="http://cbs.sportsline.com/collegebasketball/mayhem/brackets/viewable_men">view</a> <a href="http://cbs.sportsline.com/collegebasketball/mayhem/brackets/printable_men">print</a></li>
      <li> ESPN Bracket <a href="http://espn-att.starwave.com/i/ncaa/06mens_bracket.gif">GIF</a> <a href="http://espn-att.starwave.com/i/ncaa/06mens_bracket.pdf">PDF</a></li>
      <li> <a href="http://www.ncaasports.com/basketball/mens/brackets/viewable/2006">FinalFour.net</a>
      <li> <a href="http://msn.foxsports.com/id/3461072_37_31.pdf">Fox Sports (Wendy's Burger) PDF</a>
    </ul>
      </div>
      <div id="main">
    <% if flash[:notice] -%>
    <div id="notice">
      <ul>
        <% flash[:notice].each do | notice | -%>
          <li><%= notice %></li>
        <%- end %>
      </ul>
    </div>
        <% end -%>
    <%= @content_for_layout %>
    <div style="clear:left;height:0;line-height:0">
    </div>
      </div>
    </body>
